<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Josie Huang's Website">
    <meta name="keywords" content="Josie,Huang">
    <meta name="author" content="Josie Huang">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <title>Josie Huang's Personal Website</title>
	
     <!-- Twitter Bootstrap CSS -->
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
    <!-- Core Stylesheet -->
	<link rel="stylesheet" type="text/css" href="./css/main_style.css">
    
</head>
