<section id="Intro">
			<div class="rounded_panel txt_lightgrey">
				<div class="top-rounded-panel grey-bg">
					<h1>About Me</h1>
				</div>
				<div class="content-rounded-panel">
					<p>I am a second-year PhD student in Clinical Psychology at The Penn State University, State College.
					I am originally from China. Research-wise, I am currently working with <a href="http://psych.la.psu.edu/directory/sjw42">
					Dr. Stephen Wilson</a> on a project that examines the influences of contextual information on restrained 
					eaters' neural reactivity to food and non-food reward cues. Our goal is to identify the neural markers
					that predict the motivational processes and food choices among individuals in obesogenic environment.<br/><br/>
					In my spare time, I enjoy running, reading, and writing my novel!
				</div>	
			</div>
		</section>
