<!---------------- Programming Skills ------------------->	
		<section id="ProgramSkills">
			<div class="rounded_panel txt_lightgrey">
				<div class="top-rounded-panel grey-bg">
					<h1>Programming Skills/Software</h1>
				</div>
				<div class="content-rounded-panel">
					<ul>
						<!-- <li type="round" style="color:#4D5656"><span style="color:#4D5656">Matlab</span></li> -->
						  {% for list in site.programskills %}
                  					<li>{{list}}</li>
              					{% endfor %}
					</ul>
				</div>	
			</div>
		</section>
